
<!-- card starts -->
<div class="row">
<div class="col-sm-4" *ngFor="let product of products" style="padding: 10px">
  <div class="card">
    <img (click)="op.toggle($event);loadImages(product.images)" [src]="product?.hero?.href ? product?.hero?.href : 'https://st3.depositphotos.com/16262510/33733/v/1600/depositphotos_337332964-stock-illustration-photo-not-available-vector-icon.jpg'" class="card-media" />
    <div class="card-details">
      <h3><strong>{{product?.name}}</strong></h3>
      <div class="d-flex flex-column">
        <span class="text-muted">High Price: <strong>{{product?.priceRange ? (product?.priceRange?.selling?.high) : product?.price?.regular}}</strong></span>
        <span class="text-muted">Low Price: <span>{{product?.priceRange ? (product?.priceRange?.selling?.high) : product?.price?.selling}}</span>&ast;</span>
      </div>
      <a href="#/" class="card-action-button">Click here to Quote PRICE</a>
    </div>
  </div>
</div>
</div>
<!-- card ends -->



<!-- carousel starts -->
<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '800px'}">
  <ng-template pTemplate>
    <p-carousel [value]="selectedProductImages" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header">
      </ng-template>
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="p-mb-3">
              <img src="{{product.href}}" [alt]="product.rel" class="product-image" />
            </div>
            <div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
</p-overlayPanel>
<!-- carousel ends -->


